.topBand {
  /*font-family: 'Gloria Hallelujah', cursive;*/
  font-size: 24px;
  background-color: #D92952;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
}

.navBar {
  background-color: #333;
  overflow: hidden;
}

.navBar a {

  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 204px;
  text-decoration: none;
  font-size: 20px;

}

.navBar a:hover {
  background-color: #ddd;
  color: black;
}

.navBar a.active {
  background-color: #4CAF50;
  color: white;
}

table {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  border-collapse: collapse;
  border-radius: 15%;
  border: 8px outset #770047;
}

tr:nth-child(even) {
  background-color: #CBEB26;
}

td,
th {
  border: 1px solid #FFFFFF;
  text-align: left;
  padding: 8px;
}

body {
  background-color: rgba(137, 218, 217, 0.5);
}
